*{

    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}

body{
    background-color: rgb(25, 13, 25);
    margin-top: 3rem;
}

input{
    color: #541a55;
    height: 5rem;
    width: 7rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    padding-left: 1rem;
    border: 2px solid #951e7b;
    outline: none;
}
input:hover{
    border-color: #bd2fd2;
}



input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



.inputs{
    display: flex;
    justify-content: center;
    gap: rem;
    font-size: 2rem;
    text-align: center;
}
label{
    margin: 0.3rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    display: block;
    background-color: #ba46a1;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
    padding: 1rem;
    border-radius: 20px;
    width: 25ch;
    animation: typing 1s steps(25);
}

@keyframes typing {
    from {width: 0;}
}


button{
    margin: 1rem;
    cursor: pointer;
    color: #fff;
    width: 5rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: #9f0b7f;
    border: 2px solid ;
    font-size: 1rem;
}


button:hover{
    background-color: #62004d;
}


h1, .inputs, button{
    margin-top: 3rem;
}

input[type="text" id="precioFinal"]{
    position: relative;
}

input[type="number" id="ingresarDescuento"]{
    position: relative;
}

input[type="number" id="ingresarPrecio"]{
    position: relative;
}
#ingresarDescuento{
    text-align:end;
    padding-right: 1.37rem;
    width: ch;
}
.symbol{
    font-size: 1.5rem;
    margin-left: 0.25rem;
    color: #541a55;
    position: absolute;
    margin-top: 1.6rem;
}
.symbol2{
    font-size: 1.5rem;
    color: #541a55;
    position: absolute;
    margin-top: 1.6rem;
    right: 17.6rem;
}


